<% provide(:title, "모든 택배보관함") %>
<h1>모든 택배보관함</h1>

<%= will_paginate %>

<table class="table table-striped">
  <tbody>
    <tr>
      <td>이름</td>
      <td>정보</td>
      <td>생성일자</td>
    </tr>
    <%= render @boxes %>
  </tbody>
</table>

<%= will_paginate %>
