<footer class="footer">
  <small>
    <%= link_to "택배보관함", root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "택배보관함은?",   about_path %></li>
      <li><%= link_to "고객센터", contact_path %></li>
    </ul>
  </nav>
</footer>